[submodule "tmux/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/tmux-powerline"]
	path = tmux/plugins/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "tmux/kube-tmux"]
	path = tmux/kube-tmux
	url = https://github.com/jonmosco/kube-tmux.git
